.player-cell {
    border: groove;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    min-height: 120px;
     min-width: 200px;
    max-width: 320px;
}

.islandTile-cell {
    border: groove;
    padding: 10px;
    margin: 5px;
    background-color: lightcyan;
    min-height: 120px;
     min-width: 120px;
    max-width: 120px;
}
